<!DOCTYPE html>
<html>
<head>
<title>Bank</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= render 'partials/meta' %>
<%= render 'partials/favicon' %>
<%= stylesheet_pack_tag 'react' %>
</head>
<body style="display: none;">
  <%= yield %>
</body>
<footer>
<%= javascript_pack_tag 'react' %>  	
</footer>
</html>
