<!DOCTYPE html>
<html>
<head>
<title>Bank</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= render 'partials/meta' %>
<%= render 'partials/favicon' %>
<%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' %>
<%= stylesheet_pack_tag 'react' %>
</head>
<body style="visibility: hidden;">
  <%= yield %>
</body>
<footer>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyByDspHEwmE7W_moWu_x0FSaDaCy1q1qzY' %>	
<%= javascript_pack_tag 'react' %>  	
</footer>
</html>
